[Desktop Entry]
Comment=New Experience 2 Light
Name=New Experience 2 Light
X-KDE-PluginInfo-Author=Zlatko Barnak
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=equilibrium@barnak.co.rs
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=NewExperience2Light
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=LT-Stand.com/equilibrium
X-KDE-ServiceTypes=Plasma/LookAndFeel
